<md-content ng-show="vm.filesToUpload.length > 0">
    <md-list flex>
        <md-subheader class="md-no-sticky">Files</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="file in vm.filesToUpload" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{ file.name }}</h3>
                <h4>{{ file.size }}</h4>
                <p>{{ file.type }}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>

<div ngf-select="vm.uploadFiles($files)" ngf-drop="vm.uploadFiles($files)" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"
     ngf-pattern="'image/*,application/pdf'">
    Drop Images or PDFs files here
</div>

<md-button ng-show="vm.filesToUpload.length > 0" md-no-ink class="md-primary" ng-click="vm.sendFiles()">Send files</md-button>